body {
  font: 100% Helvetica, sans-serif;
  color: #999;
}

.thumbnail-wrap {
  display: inline-block;
  position: relative;
}

.thumbnail-input {
  position: absolute;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
}